{% extends 'base.html.twig' %}

{% block title %}Event in detail{% endblock %}

{% block body %}
<div class="container">
</br>
</br>
</br>
</br>
</br>
    <div class="span3 well">
        <center>
        <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="{{ event.eventImage }}" name="aboutme" width="140" height="140" class="img-circle"></a>
        <h2>{{ event.name }}</h2>
        <em>Clique sur l'image pour en découvrir plus</em>
		</center>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">Plus d'info sur {{ event.place }}</h4>
                    </div>
                <div class="modal-body">
                    <center>
                        <img src="{{ event.eventImage }}" width="140" height="140"></a>
                        <h3 class="media-heading">{{ event.name }}<small> aura lieu le {{ event.date|date("d-m-Y") }}</small></h3>
                    </center>
                    <hr>
                    <center>
                    <p class="text-left"><strong>Infos pratique: </strong><br>
                        {{ event.description }}</p>
                    <br>
                   {% for actor in event.actors %}
                        <p class="card-text"><small class="text-muted">Avec la présence de : {{ actor.name }}</small></p>
                  {% endfor %}
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                    <a src="actor_list" type="button" class="btn btn-default" data-dismiss="modal">Retour à l'évenement</a>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
{# <div class="card mb-3 w-50">
      <img class="card-img-top" src="{{ event.eventImage }}" alt="event_image">
      <div class="card-body">
            <h5 class="card-title">Bienvenue à {{ event.name }}</h5>
            <p class="card-text">{{ event.description }}</p>
            <p class="card-text">Capacité maximum : {{ event.capacity }}</p>
            <p class="card-text">Lieu de la représentation : {{ event.place }}</p>
            <p class="card-text">Date de la représentation : {{ event.date|date("d-m-Y") }}</p>
            {% for actor in event.actors %}
            <p class="card-text"><small class="text-muted">Avec la présence de : {{ actor.name }}</small></p>
            {% endfor %}
      </div>
</div> #}
{% endblock %}