<header>
      <div class="banner">
            <div class="logoAbc"></div>
      </div>
      <div class="pos-f-t">
            <nav class="navbar navbar-dark bg-dark">
                  {% if app.user %}
                        {{ app.user.email }}
                              <a href="{{ path('app_logout') }}"> Se déconnecter</a>
                        {% else %}
                        <a href="{{ path('app_login') }}"> Se connecter</a>
                  {% endif %}
                  <button class="navbar-toggler" 
                        type="button" 
                        data-toggle="collapse" 
                        data-target="#navbarToggleExternalContent" 
                        aria-controls="navbarToggleExternalContent" 
                        aria-expanded="false" 
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                  </button>
            </nav>
            <div class="collapse" id="navbarToggleExternalContent">
                  <div class="bg-dark p-4">
                        <ul class="navbar-nav mx-auto">
                              <li class="nav-item">
                                    <a class="nav-link" href="{{ path('default') }}">Accueil</a>
                                    <a class="nav-link" href="{{ path('evenement_list') }}">Evenements</a>
                                    {% if is_granted('ROLE_ADMIN') %}
                                          <a class="dropdown-item" href="{{ path('event_new') }}">Créer un évenement</a>
                                          <a class="dropdown-item" href="{{ path('event_index') }}">Editer un évenement</a>
                                    {% endif %}
                                    <a class="nav-link" href="{{ path('actor_list') }}">Artistes</a>
                                    {% if is_granted('ROLE_ADMIN') %}
                                          <a class="dropdown-item" href="{{ path('actor_new') }}">Créer un artiste</a>
                                          <a class="dropdown-item" href="{{ path('actor_index') }}">Editer un artiste</a>
                                    {% endif %}
                              </li>
                        </ul>
                  </div>
            </div>
      </div>
</header>