{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
{% for actor in actors | slice(-3, 6)%}
<div class="album py-5 bg-light">
      <div class="container">
            <div class="row">
                  <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" 
                        width="100%" 
                        height="225" 
                        src="{{ actor.profileImage }}" 
                        preserveAspectRatio="xMidYMid slice" 
                        focusable="false" 
                        role="img" >
                        <title>{{ actor.name }}
                        </title>
                        <rect width="100%" height="100%" fill="#55595c"/>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ actor.name }}</text></svg>
                        <div class="card-body">
                              <p class="card-text">{{ actor.story }}</p>
                              <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                          <a href="{{ path('actor_show_by_id', {id:actor.id}) }}" class="btn btn-primary">Plus de détails</a>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>
{% endfor %}
{% endblock %}